<!DOCTYPE html>

<html>

    <head>
        <title>My Personal Todolist</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <h1>My Todolist</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/delete/<%= index %>">✘</a>
                <a href="/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/add/" method="post">
            <p>
                <label for="newtodo">Add Tasks: </label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
